[submodule "maestro-lib"]
    path = .
    [submodule "maestro-lib"]
    path = cross-gcc.build
    [submodule "maestro-lib"]
    path = meson.build
    [submodule "maestro-lib"]
    path = .vscode/meson.js
    [submodule "maestro-lib"]
    path = .vscode/launch.json
    [submodule "maestro-lib"]
    path = .vscode/settings.json
    [submodule "maestro-lib"]
    path = .vscode/tasks.json