set PROGRAMMER stlink

# Maestro's programmer picker updates the first line.
if {$PROGRAMMER eq "stlink"} {
    source [find interface/stlink-dap.cfg]
    transport select dapdirect_swd
} elseif {$PROGRAMMER eq "otx-minidap"} {
    source [find interface/cmsis-dap.cfg]
    cmsis_dap_vid_pid 0xc251 0xf001
    cmsis_dap_backend hid
    transport select swd
} else {
    source [find interface/${PROGRAMMER}.cfg]
    transport select swd
}

source [find target/stm32f3x.cfg]
adapter speed 1000
reset_config none
